@{
    ViewBag.Title = "Home Page";
}
<head>
    <style>
        body {
            background-image: url("http://www.twistsoft.com/keepfit/img/bg.jpg");
            background-color: #cccccc;
        }
    </style>
</head>
<div class="jumbotron">
    <h1>Contact Manager</h1>
        <p class="lead">
            Contact Manager is a free, open source web app using HTML, CSS and JavaScript. 
            It's in a very early stage, so please keep that in mind.
        </p>
    <p><a href="https://github.com/cpmolnar/Contact-Manager-MVC-App" class="btn btn-primary">Contact Manager GitHub &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            Contact Manager is a way to share contact info with others. If you want to contact 
            other users or would like to be contacted, this is the place to share some of your info!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>